body{
    height: 100vh;
    background: linear-gradient(#141e30 , #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 70%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 3px #243b55;
    border-radius: 30px;


}
#timer{
    max-width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0 auto;
    padding:30px;
    color: #fff;
}
.buttons{
    text-align: center;
    margin-top: 20px;
}


.btn{
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    border:2px solid #fff ;
    outline:2px solid #fff ;
    outline-offset: -6px;
    font-size: 30px;
    background-color: #243b55;
    margin: 0 10px;
    

}
.btn:hover{
    cursor: pointer;
    outline-offset: 2px;
    border:2px solid #ffcc00;
    outline:2px solid #ffcc00;
    color: #ffcc00;
}





@media only screen and (max-width: 600px){
    #timer{
        font-size: 30px;
    }
    .btn{
        padding: 0.5rem 1rem ;
        border-radius: 5px;
        font-size: 20px;      
    }
    .container{

        height: 200px;

    
    
    }
    
}